<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/606d99f9be.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/static/base.css">
    <title>{% block title %}GroceryPay{% endblock %}</title>
</head>
<body>
    <div class="container">
        <div class="sidebar" id="sidebar">
            {% include 'sidebar.html' %}
        </div>
        <div class="main" id="main-content">
            <div class="navbar-ctrl">
                <div class="user">
                    {% if user %}
                    <i class="fa-solid fa-user"></i>
                    <p class="username">{{ user.username }}</p>
                    {% endif %}
                </div>
                <div class="form-container">
                    <form action="/logout" method="post">
                        <button type="submit">
                            <i class="fa-solid fa-right-from-bracket"></i>
                            Logout
                        </button>
                    </form>
                </div>
            </div>
            {% block content %}{% endblock %}
        </div>
    </div>
    <script src="/static/js/base.js"></script>
</body>
</html>