<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/606d99f9be.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/static/signup.css">
    <title>Document</title>
</head>
<body>
    <div class="navbar">
        <div class="nav-header">
            <i class="fa-brands fa-opencart"></i>
            <h2>GroceryPay</h2>
        </div>
    </div>
    <!-- Success Toast -->
     {% if success %}
     <div class="toast show" id="toast">
        <i class="fa-solid fa-circle-check"></i>
        <p class="message">You have successfully registered</p>
    </div>
     {% endif %}

     <!-- Error message -->
     {% if error %}
      <div class="messagebox show" id = "messagebox">
         <div class="message error" id="message">
            <i class="fa-solid fa-circle-xmark"></i>
            <p>{{ error }}</p>
         </div>
      </div>
      {% endif %}

    <div class="main">
        <div class="form-container">
            <div class="form-header">
                <h2 class="header">
                    SignUp
                </h2>
                <hr class="line"></hr>
            </div>
            <form action="/register" id="signForm" method="post">
                <div class="form-group">
                    <label for="username">Username</label>
                    <input type="text" name="username" id="username" required>
                </div>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" name="email" id="email" required>
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" name="password" id="password" required>
                </div>
                <div class="button-group">
                    <button type="submit">Sign Up</button>
                </div>
                <div class="account-exists">
                    <p>Already have an account?<a href="/login">Login</a></p>
                </div>
            </form>
        </div>
    </div>
    <script src="/static/js/register.js"></script>
</body>
</html>